<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rconapp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        tools:replace="android:label"
        android:label="@string/appTitleName"
        android:allowBackup="true"
        android:icon="@mipmap/ic_rust_logo"
        android:roundIcon="@mipmap/ic_rust_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name="rconapp.AppService"
            android:icon="@drawable/ic_home_black_24dp"
            android:label="AppService"
            >
        </service>

        <receiver android:name="rconapp.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="rconapp.MainActivity"
            android:extractNativeLibs="false"
            android:label="@string/appTitleName"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="rconapp.SettingsActivity"
            android:label="Settings"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rconapp.rconapp.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>