<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rconapp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        tools:replace="android:label"
        android:label="@string/appTitleName"
        android:allowBackup="true"
        android:icon="@mipmap/ic_rust_logo"
        android:roundIcon="@mipmap/ic_rust_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name="AppService"
            android:icon="@drawable/ic_home_black_24dp"
            android:label="AppService"
            >
        </service>

        <activity
            android:name=".MainActivity"
            android:extractNativeLibs="false"
            android:label="@string/appTitleName"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rconapp.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewServerActivity"
            android:label="Adding a server"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rconapp.SettingsActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditServerActivity"
            android:label="Editing the server"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rconapp.SettingsActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityPlayer"
            android:label="Player info"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rconapp.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>